<div class="container-fluid">
    <div class="row position-relative">
        <div class="col p-0">
            <img src="../../../../assets/header.jpg" alt="" style="width: 100%; height: auto;">
            <h1 class="text-white text-center position-absolute w-100 mb-4" style="top: 50%; font-size: 3rem;">Venta de Casas y Departamentos Exclusivos de Lujo</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <main class="col-md-9">
            <div class="row">  
                <h2 class="text-center mt-4 mb-4">Más sobre nosotros</h2>

                <div class="col-md-4 text-center">
                    <div class="symbol-container">
                        <span class="material-symbols-outlined">lock</span>
                    </div>
                    <h3>Seguridad</h3>
                    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit placeat ut cumque, necessitatibus blanditiis laudantium sit debitis. Ipsum necessitatibus libero voluptatibus dolores, dolorum magnam adipisci nulla non debitis iusto officia?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nisi omnis ab dolorem vel natus! Numquam adipisci, consequatur exercitationem sit rem provident! Autem, expedita magni laboriosam fugit vero animi recusandae!</p>
                </div>
                <div class="col-md-4 text-center">
                    <div class="symbol-container">
                        <span class="material-symbols-outlined">attach_money</span>
                    </div>
                    <h3>Precio</h3> 
                    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit placeat ut cumque, necessitatibus blanditiis laudantium sit debitis. Ipsum necessitatibus libero voluptatibus dolores, dolorum magnam adipisci nulla non debitis iusto officia?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nisi omnis ab dolorem vel natus! Numquam adipisci, consequatur exercitationem sit rem provident! Autem, expedita magni laboriosam fugit vero animi recusandae!</p>
                </div>
                <div class="col-md-4 text-center">
                    <div class="symbol-container">
                        <span class="material-symbols-outlined">schedule</span>
                    </div>
                    <h3>A Tiempo</h3>
                    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit placeat ut cumque, necessitatibus blanditiis laudantium sit debitis. Ipsum necessitatibus libero voluptatibus dolores, dolorum magnam adipisci nulla non debitis iusto officia?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nisi omnis ab dolorem vel natus! Numquam adipisci, consequatur exercitationem sit rem provident! Autem, expedita magni laboriosam fugit vero animi recusandae!</p>
                </div>
            </div> 
        </main>
    </div>
</div>

<div class="col-md-12 mt-5">
    <h2 class="text-black text-center">Casas y Departamentos en venta</h2>

    <div class="container mb-4">
        <div class="row">
            <!-- Tarjeta 1 -->
            <div class="row row-cols-1 row-cols-md-3 g-3">

                <div class="col">
                    <div class="card w-100">
                        <img src="../../../../assets/descarga.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-text">$3.000.000</p>
                            <ul class="list-inline d-flex justify-content-between mb-2">
                                <li class="list-inline-item">
                                    <span class="material-symbols-outlined">shower</span>
                                    <p>3</p>
                                </li>
                                <li class="list-inline-item">
                                    <span class="material-symbols-outlined">garage</span>
                                    <p>3</p>
                                </li>
                                <li class="list-inline-item">
                                    <span class="material-symbols-outlined">bed</span>
                                    <p>4</p>
                                </li>
                            </ul>                    
                                    
                            <a routerLink="/info/ads" class="btn btn-warning btn-block w-100">
                                Ver propiedad
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card w-100">
                        <img src="../../../../assets/descarga.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-text">$3.000.000</p>
                            <ul class="list-inline d-flex justify-content-between mb-2">
                                <li class="list-inline-item">
                                    <span class="material-symbols-outlined">shower</span>
                                    <p>3</p>
                                </li>
                                <li class="list-inline-item">
                                    <span class="material-symbols-outlined">garage</span>
                                    <p>3</p>
                                </li>
                                <li class="list-inline-item">
                                    <span class="material-symbols-outlined">bed</span>
                                    <p>4</p>
                                </li>
                            </ul>                    
                                    
                            <a routerLink="/info/ads" class="btn btn-warning btn-block w-100">
                                Ver propiedad
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card w-100">
                        <img src="../../../../assets/descarga.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-text">$3.000.000</p>
                            <ul class="list-inline d-flex justify-content-between mb-2">
                                <li class="list-inline-item">
                                    <span class="material-symbols-outlined">shower</span>
                                    <p>3</p>
                                </li>
                                <li class="list-inline-item">
                                    <span class="material-symbols-outlined">garage</span>
                                    <p>3</p>
                                </li>
                                <li class="list-inline-item">
                                    <span class="material-symbols-outlined">bed</span>
                                    <p>4</p>
                                </li>
                            </ul>                    
                                    
                            <a routerLink="/info/ads" class="btn btn-warning btn-block w-100">
                                Ver propiedad
                            </a>
                        </div>
                    </div>
                </div>
                <div class="text-end mt-3 col-md-12">
                    <a routerLink="/info/ads" class="btn btn-info btn-lg mx-auto">Ver todas</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row position-relative">
        <div class="col p-0">
            <img src="../../../../assets/encuentra.jpg" alt="" style="width: 100%; height: auto;">
            <h1 class="text-white text-center position-absolute w-100 mb-4" style="top: 30%; font-size: 3rem;">Encuentra la casa de tus sueños</h1>
            <p class="text-white text-center position-absolute w-100 mb-4" style="top: 50%; font-size: 2rem;">Llena el formulario de contacto y un asesor se pondrá en contacto contigo a la brevedad</p>
            <div class="position-absolute text-center w-100" style="top: 70%;">
                <a routerLink="/info/contact" class="btn btn-warning btn-lg mx-auto">Contactános</a>
            </div>            
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-12">
            <div class="container">
                <h3 class="text-center mt-4 mb-4">Nuestro Blog</h3>

                <div class="col-md-12">
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <article class="col col-md-6">
                            <div class="card" style="max-width: 25rem;"> <!-- Ajusta el ancho máximo según tus preferencias -->

                                <img loading="lazy" src="../../../../assets/fachada_2.jpg" alt="Texto entrada blog" class="card-img-top img-fluid" style="max-width: 100%; height: auto;">
                                <div class="card-body">
                                    <a routerLink="/info/blog">
                                        <h4 class="card-title" style="font-size: 1.2rem;">Guía para la decoración de tu hogar</h4> <!-- Ajusta el tamaño de fuente según tus preferencias -->
                                        <p class="informacion-meta" style="font-size: 0.8rem;">Escrito el: <span>25/07/2023</span> por <span>Admin</span></p>
                                        <p class="card-text" style="font-size: 1rem;">Máximiza el espacio en tu hogar con esta guía, aprende a combinar muebles y colores para darle vida a tu espacio</p>
                                    </a>
                                </div>
                            </div>
                        </article>
                        

                        <article class="col col-md-6">
                            <div class="card" style="max-width: 25rem;"> <!-- Ajusta el ancho máximo según tus preferencias -->
                                <img loading="lazy" src="../../../../assets/fachada_2.jpg" alt="Texto entrada blog" class="card-img-top img-fluid" style="max-width: 100%; height: auto;">
                                <div class="card-body">
                                    <a routerLink="/info/blog">
                                        <h4 class="card-title" style="font-size: 1.2rem;">Guía para la decoración de tu hogar</h4> <!-- Ajusta el tamaño de fuente según tus preferencias -->
                                        <p class="informacion-meta" style="font-size: 0.8rem;">Escrito el: <span>25/07/2023</span> por <span>Admin</span></p>
                                        <p class="card-text" style="font-size: 1rem;">Máximiza el espacio en tu hogar con esta guía, aprende a combinar muebles y colores para darle vida a tu espacio</p>
                                    </a>
                                </div>
                            </div>
                        </article>

                        <article class="col col-md-6">
                            <div class="card" style="max-width: 25rem;"> <!-- Ajusta el ancho máximo según tus preferencias -->
                                <img loading="lazy" src="../../../../assets/fachada_2.jpg" alt="Texto entrada blog" class="card-img-top img-fluid" style="max-width: 100%; height: auto;">
                                <div class="card-body">
                                    <a routerLink="/info/blog">
                                        <h4 class="card-title" style="font-size: 1.2rem;">Guía para la decoración de tu hogar</h4> <!-- Ajusta el tamaño de fuente según tus preferencias -->
                                        <p class="informacion-meta" style="font-size: 0.8rem;">Escrito el: <span>25/07/2023</span> por <span>Admin</span></p>
                                        <p class="card-text" style="font-size: 1rem;">Máximiza el espacio en tu hogar con esta guía, aprende a combinar muebles y colores para darle vida a tu espacio</p>
                                    </a>
                                </div>
                            </div>
                        </article>

                        
                        <article class="col col-md-6">
                            <div class="card" style="max-width: 25rem;"> <!-- Ajusta el ancho máximo según tus preferencias -->
                                <img loading="lazy" src="../../../../assets/fachada_2.jpg" alt="Texto entrada blog" class="card-img-top img-fluid" style="max-width: 100%; height: auto;">
                                <div class="card-body">
                                    <a routerLink="/info/blog">
                                        <h4 class="card-title" style="font-size: 1.2rem;">Guía para la decoración de tu hogar</h4> <!-- Ajusta el tamaño de fuente según tus preferencias -->
                                        <p class="informacion-meta" style="font-size: 0.8rem;">Escrito el: <span>25/07/2023</span> por <span>Admin</span></p>
                                        <p class="card-text" style="font-size: 1rem;">Máximiza el espacio en tu hogar con esta guía, aprende a combinar muebles y colores para darle vida a tu espacio</p>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
