<div class="container-fluid">
    <div class="row align-items-center">
        <h1 class="text-center mt-3 mb-3">Contacto</h1>

        <div class="col-md-12"> 
            <main class="container my-4 rounded border p-4">
                <form class="mt-4" action="">
                    <fieldset>
                        <legend>Información personal</legend>
            
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" placeholder="Tu nombre" id="nombre">
                        </div>
            
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="email" class="form-control" placeholder="Tu E-mail" id="email">
                        </div>
            
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <input type="tel" class="form-control" placeholder="Tu Teléfono" id="telefono">
                        </div>
            
                        <div class="mb-3">
                            <label for="mensaje" class="form-label">Mensaje</label>
                            <textarea class="form-control" id="mensaje"></textarea>
                        </div>
                    </fieldset>
            
                    <fieldset>
                        <legend>Información sobre la propiedad</legend>
            
                        <div class="mb-3">
                            <label for="opciones" class="form-label">Vende o compra</label>
                            <select class="form-select" id="opciones">
                                <option value="" disabled selected>-- Seleccione --</option>
                                <option value="Compra">Compra</option>
                                <option value="Vende">Vende</option>
                            </select>
                        </div>
            
                        <div class="mb-3">
                            <label for="presupuesto" class="form-label">Precio o presupuesto</label>
                            <input type="number" class="form-control" placeholder="Tu precio o presupuesto" id="presupuesto">
                        </div>
                    </fieldset>
            
                    <fieldset>
                        <legend>Contacto</legend>
            
                        <p class="mb-3">Cómo desea ser contactado</p>
            
                        <div class="mb-3">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="contactar-telefono">Teléfono</label>
                                <input class="form-check-input" name="contacto" type="radio" value="telefono" id="contactar-telefono">
                            </div>
            
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="contactar-email">E-mail</label>
                                <input class="form-check-input" name="contacto" type="radio" value="email" id="contactar-email">
                            </div>
                        </div>
            
                        <p class="mb-3">Si eligió teléfono, elija la fecha y la hora</p>
            
                        <div class="mb-3">
                            <label for="fecha" class="form-label">Fecha</label>
                            <input type="date" class="form-control" id="fecha">
                        </div>
            
                        <div class="mb-3">
                            <label for="hora" class="form-label">Hora</label>
                            <input type="time" class="form-control" id="hora" min="09:00" max="18:00">
                        </div>
                    </fieldset>
            
                    <input type="submit" value="Enviar" class="btn btn-success">
                </form>
                
            </main>  
        </div>      
    </div>
</div>