<header class="container-fluid bg-dark" style="--bs-bg-opacity: .1;">
        <div class="container">
            <div class="row ">
                <div class="col-md-3 p-0">
                    <a class="" href="/">
                        <img src="../../../../assets/13204634.png" alt="Logotipo de Bienes Raices">
                    </a>
                </div>

                <div class="col-md-9 mt-5">
                    <div class="ml-auto mt-2 text-end">
                        <nav class="d-flex justify-content-between">
                            <a class="nav-link fs-5 font-weight-bold" routerLink="/info/us">Nosotros</a>
                            <a class="nav-link fs-5 font-weight-bold" routerLink="/info/ads">Anuncios</a>
                            <a class="nav-link fs-5 font-weight-bold" routerLink="/info/blog">Blog</a>
                            <a class="nav-link fs-5 font-weight-bold" routerLink="/info/contact">Contacto</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
</header>

<router-outlet></router-outlet>

<footer class="footer seccion bg-dark p-5 mt-4" style="--bs-bg-opacity: .1;">
    <div class="container contenedor-footer">
            <div class="container mb-2">
                <nav class="d-flex justify-content-between">
                    <a class="nav-item nav-link" routerLink="/info/us">Nosotros</a>
                    <a class="nav-item nav-link" routerLink="/info/ads">Anuncios</a>
                    <a class="nav-item nav-link" routerLink="/info/blog">Blog</a>
                    <a class="nav-item nav-link" routerLink="/info/contact">Contacto</a>
                </nav>
            </div>

            <p class="text-center mt-4">By Cristian Bedoya Monsalve</p>
    </div>
</footer>
