<div class="container-fluid">
    <div class="row align-items-center">
        <h1 class="text-center mt-4 mb-4 col-md-12">Conoce sobre nosotros</h1>

        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="../../../../assets/fachada_2.jpg" alt="Imagen apartamento" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias doloremque natus reprehenderit? Tempore enim consequatur fuga nobis animi perferendis a magni aperiam, dolore dolores soluta vero nihil fugiat provident quos.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius veritatis tenetur, ut hic maxime aliquam explicabo provident unde? Qui, impedit quis nemo assumenda veritatis ut facere molestias ex! Illo, necessitatibus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad aut voluptatum, eligendi reiciendis iure, voluptas quia repudiandae quaerat fuga, consectetur fugiat impedit. Tenetur ratione eos dolores rerum autem deserunt nemo. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure recusandae, corrupti voluptatem in eius eligendi delectus ducimus sapiente, ratione, debitis qui. Recusandae ipsa eum aliquid tenetur sit voluptatibus magnam et.
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, consequatur! Quos tenetur vero rerum sit eaque ducimus ea, facilis voluptatibus, ad repellat libero! Cupiditate labore illo veniam veritatis officiis unde?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta reiciendis voluptatem cum natus nobis aspernatur, accusantium praesentium delectus autem deleniti ipsam at incidunt laudantium nostrum rerum temporibus ratione illo dolorum!

                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ullam culpa odit eius ducimus reiciendis maxime, suscipit porro esse iusto distinctio nam similique incidunt ab, mollitia rerum illum molestias sequi.

                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut perspiciatis ipsam eum, debitis saepe facilis id. Aperiam modi, quis sunt quia minima, nesciunt nobis aut ab ipsum saepe distinctio asperiores.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error mollitia tempore porro eos neque veritatis, consequuntur sed fugiat explicabo vitae aperiam molestiae non quam, vero ea commodi quis? Tempore, impedit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <main class="col-md-9">
            <div class="row">  
                <h2 class="text-center mt-4 mb-4">Más sobre nosotros</h2>

                <div class="col-md-4 text-center">
                    <div class="symbol-container">
                        <span class="material-symbols-outlined">lock</span>
                    </div>
                    <h3>Seguridad</h3>
                    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit placeat ut cumque, necessitatibus blanditiis laudantium sit debitis. Ipsum necessitatibus libero voluptatibus dolores, dolorum magnam adipisci nulla non debitis iusto officia?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nisi omnis ab dolorem vel natus! Numquam adipisci, consequatur exercitationem sit rem provident! Autem, expedita magni laboriosam fugit vero animi recusandae!</p>
                </div>
                <div class="col-md-4 text-center">
                    <div class="symbol-container">
                        <span class="material-symbols-outlined">attach_money</span>
                    </div>
                    <h3>Precio</h3> 
                    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit placeat ut cumque, necessitatibus blanditiis laudantium sit debitis. Ipsum necessitatibus libero voluptatibus dolores, dolorum magnam adipisci nulla non debitis iusto officia?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nisi omnis ab dolorem vel natus! Numquam adipisci, consequatur exercitationem sit rem provident! Autem, expedita magni laboriosam fugit vero animi recusandae!</p>
                </div>
                <div class="col-md-4 text-center">
                    <div class="symbol-container">
                        <span class="material-symbols-outlined">schedule</span>
                    </div>
                    <h3>A Tiempo</h3>
                    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit placeat ut cumque, necessitatibus blanditiis laudantium sit debitis. Ipsum necessitatibus libero voluptatibus dolores, dolorum magnam adipisci nulla non debitis iusto officia?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nisi omnis ab dolorem vel natus! Numquam adipisci, consequatur exercitationem sit rem provident! Autem, expedita magni laboriosam fugit vero animi recusandae!</p>
                </div>
            </div> 
        </main>
    </div>
</div>
